* {
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}
.center {
  text-align: center;
}
.p-15 {
  padding: 0 15%;
}
.ptb-10 {
  padding: 100px 30px 40px;
  margin: 10px 0;
}
.fs-25 {
  font-size: 30px;
}
.br {
  border-radius: 10px;
}
.about {
  padding: 20px 30px;
}
.about:hover{
    transform: scale(1.2);
}
.about::first-letter {
  font-size: 45px;
  font-weight: 600;
}
.skills {
  padding: 20px;
  border-radius: 10px;
  background-color: darkgrey;
}
.skills:hover {
  background-color: unset;
  transform: scale(1.5);
}
.card {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid beige;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.m-10 {
  margin: 10px;
}
.lang {
  width: 500px;
  margin: 30px auto;
}
.stats:hover{
    transform: scale(1.2);
}
.card:hover{
    transform: scale(1.15);
}