* {
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}
.center {
  text-align: center;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.Typewriter__wrapper {
  color: red;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hand {
  animation: wave 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}
.p-15 {
  padding: 0 15%;
}
.ptb-10 {
  padding: 100px 30px 40px;
  margin: 10px 0;
}
.fs-25 {
  font-size: 30px;
}
.br {
  border-radius: 10px;
}
.about {
  padding: 20px 30px;
}
.about:hover {
  transform: scale(1.2);
}
.about::first-letter {
  font-size: 45px;
  font-weight: 600;
}
.skills {
  padding: 20px;
  border-radius: 10px;
  background-color: darkgrey;
  transition: transform 1s;
}
.skills:hover {
  background-color: unset;
  transform: scale(1.5);
}
.card {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid beige;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.m-10 {
  margin: 10px;
}
.lang {
  width: 500px;
  margin: 30px auto;
}
.stats:hover {
  transform: scale(1.2);
}
.card:hover {
  transform: scale(1.15);
}
.burlywood {
  color: burlywood;
}
.silver {
  color: silver;
}
#form {
  display: flex;
  /* gap: 20px; */
  width: 80%;
  margin: 20px auto;
  /* background-color: rgb(200, 200, 252); */
  /* padding: 100px; */
  /* border-radius: 50%; */
}
#form > form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  /* padding: 20px;
  background-color: #EEF1FF; */
}

#form > form input,
#form > form > textarea {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color:aliceblue;
  color: #000;
}
/* #form > form > label{
  color: darkslategrey;
} */
#form > form > button {
  border-radius: 5px;
  width: 20%;
  margin:10px auto 0;
  background-color:royalblue;
  color: #fff;
}
#form>.left{
  width: 40%;
    border-radius: 20px;
}
#form>.right{
  width: 40%;
  border-radius: 20px;
}